@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Rubik:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-color: #23272f;
  --main-text-color: white;
  --accent-color: #139eca;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Applies to any element with `custom-scrollbar` */
.custom-scrollbar::-webkit-scrollbar {
  height: 15px;              /* horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;   /* or a light gray */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Tailwind gray-400 */
  border-radius: 9999px;     /* fully rounded */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* Tailwind gray-500 on hover */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

/* Pauses the team scroller on the landing page (on hover) */
.group:hover .pause {
  animation-play-state: paused;
}